{% extends 'layout.html' %}
{% block title %} Home Page {% endblock %}

{% block body %}


  <div class="container">
    <h1 class="text-center my-4">{{ company }} Careers</h1>
    <img src="/static/img/banner.jpg" width="100%" class="img-fluid" id="banner">
  <h2 class="text-center my-4">About Meri Baby</h2>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sapiente culpa explicabo aperiam eveniet quos ad optio, possimus, perferendis iure perspiciatis, iusto esse id? Distinctio est itaque dicta id qui dignissimos voluptatibus animi numquam, pariatur cupiditate facere sed nostrum nam explicabo? Fugit voluptates sed ratione deserunt soluta ducimus. Perspiciatis obcaecati cumque voluptas qui autem veritatis ipsam quod vitae, dolores quidem dolorem! Ex ea enim aperiam doloribus cupiditate earum, aliquid sequi voluptates, ducimus laboriosam odit eius. Neque incidunt voluptate blanditiis, ullam accusamus ipsa iure numquam quasi amet, sunt vitae possimus adipisci est eos? Sequi, at illo. Doloremque amet facilis veniam est.</p>

    <div class="container py-3">
        <h3 class="text-center">Open Jobs</h3>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
    </div>
    
  
  <div class="container">
    <button class="btn btn-primary btn-lg">Contact Us</button>
  </div>
  

<footer>
  <div class="container">
    <p class="text-center pt-5">Copyright &copy; 2024, Meri Baby</p>
  </div>
</footer>
  


{% endblock %}